/*
* Center.
* 
* It centers only one global container.
*/

// Horizontal.

.an-center-h {
  display: flex !important;
  display: -webkit-flex !important;
  display: -ms-flex !important; // IE10.
  justify-content: center !important;
  justify-content: -webkit-center !important;
}

// Vertical.

.an-center-v {
  display: flex !important;
  display: -webkit-flex !important;
  display: -ms-flex !important; // IE10.
  align-items: center !important;
  align-items: -webkit-center !important;
}

// Horizontal and vertical.

.an-center-h-v {
  display: flex !important;
  display: -webkit-flex !important;
  display: -ms-flex !important; // IE10.
  justify-content: center !important;
  justify-content: -webkit-center !important;
  align-items: center !important;
  align-items: -webkit-center !important;
}
