/**
* Margins.
*/

.an-margin-n {
  margin: 0px;
}

/**
* Margin-bottom.
* an-mg-b-xl/lg/md/sm/n
*/

@each $size, $value in
  (xl, $an-margin-bottom-xl),
  (lg, $an-margin-bottom-lg), 
  (md, $an-margin-bottom-md), 
  (sm, $an-margin-bottom-sm),
  (n, $an-margin-bottom-n) {
    .an-mg-b-#{$size} {
      margin-bottom: $value;
    }
  }

/**
* Margin-left.
* an-mg-l-xl/lg/md/sm/n
*/

@each $size, $value in
  (xl, $an-margin-left-xl),
  (lg, $an-margin-left-lg), 
  (md, $an-margin-left-md), 
  (sm, $an-margin-left-sm),
  (n, $an-margin-left-n) {
    .an-mg-l-#{$size} {
      margin-left: $value;
    }
  }

/**
* Margin-right.
* an-mg-r-xl/lg/md/sm/n
*/

@each $size, $value in
  (xl, $an-margin-right-xl),
  (lg, $an-margin-right-lg), 
  (md, $an-margin-right-md), 
  (sm, $an-margin-right-sm),
  (n, $an-margin-right-n) {
    .an-mg-r-#{$size} {
      margin-right: $value;
    }
  }