<!-- 
  Change password template.
 -->

 <div class="container h-100">
  <div class="row justify-content-center align-items-center h-100">
    <div class="h-75">
      <header>
        <div class="an-mg-b-lg an-card-box">
          <figure>
            <img src="../../img/logo.png" alt="logotipo">
          </figure>
          <span class="an-d-block an-txt-left an-txt-s-lg">{{'CHANGEPWD.HEADER1' | translate}}</span>
          <span class="an-d-block an-txt-left an-txt-s-md">{{'CHANGEPWD.HEADER2' | translate}}</span>
        </div>
      </header>
      <section *ngIf="show">
        <form [formGroup]="changepwdForm" (ngSubmit)="changepwd()" novalidate>
          <div class="an-card-box">
            <div class="an-d-block an-mg-b-sm">
              <an-input [name]="'password'" [color]="hasError['password'] ? formColor : null" [text]="'CHANGEPWD.PASSWORD' | translate">
                <input type="password" name="password" id="password" formControlName="password"  [ngStyle]="{'border-color': hasError['password'] ? formColor : null}" autocomplete="off" required>
              </an-input>
            </div>
            <div class="an-d-block an-mg-b-md">
              <an-input [name]="'confirmPassword'" [color]="hasError['confirmPassword'] ? formColor : null" [text]="'CHANGEPWD.CONFIRM' | translate">
                <input type="password" name="confirmPassword" id="confirmPassword" formControlName="confirmPassword" [ngStyle]="{'border-color': hasError['confirmPassword'] ? formColor : null}" autocomplete="off" required>
              </an-input>
            </div>
            <div class="an-d-block an-mg-b-lg" [ngStyle]="{'color': formMessageColor}">  
              <div class="an-d-inline-block an-blink">
                <p class="an-txt-s-sm an-mg-l-sm">&gt;</p>
              </div>
              <div class="an-d-inline-block">
                <an-message [message]="formMessage" [ngStyle]="{'color': formMessageColor}"></an-message>
              </div>
            </div>
            <div class="an-center-h">
              <button class="an-btn-blue an-btn-sm an-btn-rounded" type="submit">{{'CHANGEPWD.BUTTON' | translate}}</button>
            </div>
          </div>
        </form>
      </section>
      <section *ngIf="!show">
        <div class="an-card-box">
          <div class="an-d-block an-mg-b-lg">
            <p class=" an-txt-left an-txt-s-md" [innerHTML]="'CHANGEPWD.ANSWER' | translate"></p>
          </div>
          <div class="an-center-h">
            <button class="an-btn-blue an-btn-sm an-btn-rounded" type="button" (click)="changeContinue()">{{'CHANGEPWD.BUTTON2' | translate}}</button>
          </div>
        </div>
      </section>
    </div>
  </div>
 </div>